* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial Narrow Bold', monospace;
    height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(255, 166, 0), rgb(255, 170, 1));
}
h1 {
    font-size: xx-large;
    font-weight: bolder;
    font-size: 2.5rem;
    text-shadow: 1px 1px 0 #00ffa6;
    user-select: none;
    margin-bottom: 30px;
}
.music-container {
    width: 380px;
    height: 520px;
    background: rgba(255, 166, 0, 0.19);
    color: #151a21;
    padding: 20px 30px;
    opacity: .95;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-container img {
    border-radius: 10%;
    margin-top: -40px;
    object-fit: cover;
    animation: boom 3s linear infinite;
    animation-play-state: paused;
    width: 250px;
    height: 250px;
}
.music-container.play .img-container img {
    animation-play-state: running;
}
@keyframes boom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

.music-info h4 {
    margin: 0;
    text-align: center;
    font-size: 18px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #151a21;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #151a21;;
}
.socials a {
    color: #00ffa6;
}
.action-btn {
    background-color: #151a21;
    border: 0;
    border-radius: 50%;
    color: #f7be04;
    font-size: 20px;
    cursor: pointer;
    margin: 0 20px;
}
.action-btn.action-btn-big {
    color: rgb(255, 166, 0);
    font-size: 30px;
}
.action-btn:focus {
    outline: 0;
}

.progress-container {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #151a21;
    width: 100%;
    border-radius: 30px;
    margin: 30px 0;
    cursor: pointer;
}

.progress-container::-webkit-slider-thumb {
    appearance: none;
    margin-top: -5px;
    margin-left: 0px;
    background: #00ffa6;
    border: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    transition: width 0.1s linear;
    cursor: pointer;
}

.progress-container::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 5px;
}

.progress-container:focus {
    outline: none;
}

.current-time {
    position: sticky;
    transform: translate(-350%, -150%);
    cursor: pointer;
    font-size: 13px;
    color: #151a21;
    padding-right: 10px;
    align-items: center;
}

.duration-time {
    position: sticky;
    transform: translate(380%, -250%);
    margin-bottom: -22px;
    cursor: pointer;
    font-size: 13px;
    color: #151a21;
    padding-right: 10px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .music-container {
        width: 320px;
        height: 480px;
    }
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    .current-time {
        position: sticky;
        transform: translate(-300%, -150%);
    }
    .duration-time {
        position: sticky;
        transform: translate(320%, -250%);
    }
}